nav{
    display: flex;
    justify-content: space-between;
}
/*ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 20% ;
     margin-right: 10%;
}
li{
    background-color: white;
    transition: background-color 0.5s;
}
li:hover{ 
background-color:blueviolet
}*/
#img-logo{ 
    width: 255px;
}

#main{
    display: flex;
}
#quesito{
 width: 80px;
}
h1{
    color: red;
    font-size: 60px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
#tizas{
    width: 70px;
    background-image: url(imagenes/pixil-frame-0\ \(21\).png);
    background-repeat: repeat-y;
    background-size: 70px;
}
#queso{
    width: 70px;
    background-image: url(imagenes/final.png);
    background-repeat: repeat-y;
    background-size: 70px;
}